In [64]:
import numpy as np
import seaborn as sns
import pandas as pd
import scipy.stats as stat

In [65]:
df=pd.read_csv("C:\\Users\\DELL\\Desktop\\ICT REF\\group activity\\8\\Week_8_Q&A_dataset - Sheet1.csv")

In [66]:
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

# 1. Carry out descriptive analytics on the dataset.

In [67]:
df.describe(include='all')

        Gender Test preparation  Total Marks
count       28               28    28.000000
unique       2                2          NaN
top     female             none          NaN
freq        16               21          NaN
mean       NaN              NaN    32.321429
std        NaN              NaN    12.454520
min        NaN              NaN    12.000000
25%        NaN              NaN    22.500000
50%        NaN              NaN    33.000000
75%        NaN              NaN    43.250000
max        NaN              NaN    50.000000

In [68]:
df.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

# 2. Check whether female and male students scored the same marks.

In [69]:
df['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

Hypothesis:
H0 : Male and Female students scored the same marks.
H1 : Male and Female students scored different marks.

In [70]:
x=np.array(df[df['Gender']=='male']['Total Marks'])
y=np.array(df[df['Gender']=='female']['Total Marks'])
stat.ttest_ind(x,y,alternative='two-sided')

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

alpha=0.05
here,p-value > 0.05

so,we accept null hypothesis.
Therefore,marks scored by male and female are same.

# 3.Whether test preparation helps the students

In [71]:
df['Test preparation'].value_counts()

none         21
completed     7
Name: Test preparation, dtype: int64

Hypothesis:
H0 : mean score of sudents who have taken the preparation course <= those who haven't

H1 : mean score of sudents who have taken the preparation course > those who haven't

In [72]:
x1=np.array(df[df['Test preparation']=='completed']['Total Marks'])
y1=np.array(df[df['Test preparation']=='none']['Total Marks'])

In [73]:
stat.ttest_ind(x1,y1,alternative='greater')

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0006335646228660053)

alpha=0.05
p-value<0.05
So,we reject the null hypothesis

Therefore,the test preparation course was helpful for the students

In [74]:
x1.mean()

44.57142857142857

In [75]:
y1.mean()

28.238095238095237